# PostgreSQL en production (Supabase, Neon ou Railway)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require

# En local, tu peux temporairement utiliser :
# DATABASE_URL=sqlite:///parfums.db

CORS_ORIGINS=http://localhost:5173
SECRET_KEY=change-this-secret-key
SITE_ACCESS_CODE=change-this-site-code
PORT=5000
